
.vs/
.vscode/
*.user
*.suo
*.vsidx


bin/
obj/
*.dbmdl
*.jfm


.dockerignore
docker-compose*
Dockerfile*
.env
charts/
secrets.dev.yaml
values.dev.yaml


node_modules/
npm-debug.log


.git/
.gitignore
.gitattributes
*.proj.user
.project
.settings/
.toolstarget
.classpath
azds.yaml

*.nuget.*

LICENSE
README.md
