bin/
obj/
**/bin/
**/obj/
.vs/
*.user
*.suo

*.nupkg
*.snupkg
*.nuspec
*.nuget.*

_ReSharper*/
*.DotSettings.user

.idea/

*.rsuser
*.user
*.userosscache
*.suo

*.log
*.vsix
*.cache

docker-compose.override.yml
